<%= render WilliamStorckPhxWeb.SharedView, "navbar_clear.html", assigns %>

<div class="container-fluid m-0 p-0">
  <div
    id="home-hero"
    class="jumbotron jumbotron-fluid d-flex justify-content-center"
  >
  </div>
</div>
