<%= render WilliamStorckPhxWeb.NavbarView, "navbar_dark.html", assigns %>

<div class="container-fluid mx-auto text-center" style="padding-top: 100px;">
  <div class="painting-grid d-flex flex-wrap justify-content-between">
    <%= for painting <- assigns[:paintings] do %>
      <%= render WilliamStorckPhxWeb.PaintingsView, "_painting_preview.html", painting: painting %>
    <% end %>
  </div>
</div>
