@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

$brand-primary: #28295B;
$brand-secondary: #d4af37;
$brand-danger: #d6564e;
$brand-black: #202224;
$brand-white: #f3f2f0;

html, body {
  background-color: $brand-white;
}

h1, h2, h3, h4, h5, h6, {
  font-family: 'Lora', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  color: $brand-black;
}

a {
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    text-decoration: none;
  }
}


// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

.btn-default {
  background: $brand-primary;
  border-color: transparent;
  border-radius: 2px;
  border-width: 2px;
  color: $brand-white;

  &:hover {
    color: $brand-secondary;
  }
}


// -----------------------------------------------------------------------------
// Form elements
// -----------------------------------------------------------------------------

input {
  border-radius: 3px !important;
  background-color: $brand-white !important;
  border: 2px solid rgba($brand-secondary, 0.5) !important;
  color: $brand-black !important;
}

select {
  @extend input;
}

textarea {
  @extend input;
}

.form-control:focus {
  box-shadow: none;
  border: 3px solid $brand-secondary !important;

}
