@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

$brand-primary: #28295B;
$brand-secondary: #d4af37;
$brand-danger: #d6564e;
$brand-black: #202224;
$brand-white: #f3f2f0;

html, body {
  background-color: $brand-white;
}

h1, h2, h3, h4, h5, h6, {
  font-family: 'Lora', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  color: $brand-black;
}

a {
  transition: all 0.4s ease;

  &:hover {
    transform: translateY(-1px);
    text-decoration: none;
  }
}


// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

.btn-default {
  background: $brand-primary;
  border-color: transparent;
  border-radius: 2px;
  border-width: 2px;
  color: $brand-white;

  &:hover {
    color: $brand-secondary;
  }
}

.navbar-toggler:focus {
  outline: none;
  border-width: 2px;
  border-color: $brand-secondary;
}

// -----------------------------------------------------------------------------
// Form elements
// -----------------------------------------------------------------------------

input {
  background-color: $brand-white !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid rgba($brand-secondary, 0.6) !important;
  color: $brand-black !important;

  &::placeholder {
    color: rgba($brand-black, 0.5) !important;
    font-weight: 200;
  }
}

select {
  @extend input;
}

textarea {
  @extend input;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid $brand-secondary !important;
}
