// -----------------------------------------------------------------------------
// Backgrounds
// -----------------------------------------------------------------------------

.bg-white {
  background-color: $brand-white !important;
}


// -----------------------------------------------------------------------------
// Borders
// -----------------------------------------------------------------------------

.border-top {
  border-top: 1px solid;
}

.border-primary {
  border-color: $brand-primary !important;
}

.border-secondary {
  border-color: $brand-secondary !important;
}


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

.heading-text {
  font-family: 'Lora', sans-serif;
}

.text-black {
  color: $brand-black;
}

.text-white {
  color: $brand-white;
}

.text-primary {
  color: $brand-primary !important;
}

.text-secondary {
  color: $brand-secondary !important;
}

.text-danger {
  color: $brand-danger !important;
}

.text-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.text-shadow {
  text-shadow: 2px 3px 6px rgba(0,0,0,0.3);
}


// -----------------------------------------------------------------------------
// Lighting & Elevation
// -----------------------------------------------------------------------------

.elevation-1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.elevation-5 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
