#home-hero {
  height: 100vh;
  background-color: $brand-black;
  background-image: url('https://s3.amazonaws.com/storck/paintings/a_glorious_evening-22x28-oil_linen-2017-sold.jpg');
  background-size: cover;
  background-position: center center;
  margin: 0;
}
