@import '../utilities';

.navbar-clear {
  background-color: none;

  a {
    color: $brand-white;
  }
}

.navbar-black {
  background-color: black;

  a {
    color: $brand-white;
  }
}

.navbar-light {
  background-color: $brand-beige;

  a {
    color: $brand-blue;
  }
}
