.painting-grid {
  clear: both;
  margin: -15px -15px 20px;
}

.shade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.24);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: transparent;
  }
}

.painting-grid-item {
  position: relative;
  margin: 15px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-1px);
    @extend .elevation-1;
  }
}

figure.grid-image {
  margin: 0;
  background-color: $brand-primary;
}

figcaption.figure-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.5);
  padding: 1rem;
}

@media (min-width: 768px) {
  .painting-grid {

    &:after {
      content: "";
      flex-grow: 999999999;
    }
  }
}

@media (min-width: 992px) {
  .painting-grid {
    max-width: 80vw;
    margin: 0 auto 40px;
  }
}
