<%= render WilliamStorckPhxWeb.Admin.SharedView, "navbar.html", assigns %>

<div
  class="container-fluid mx-auto text-center"
  style="padding-top: 20px;"
>
  <div
    class="col-sm-12 col-md-8 col-lg-6 col-xl-5 flex-column mx-auto py-5"
  >
    <h1>Admin</h1>
  </div>
</div>
